    *,
    body {
        margin: 0;
        padding: 0;
    }

    body {
        min-height: 100vh;
    }


    #hero {
        background-image: url(plane.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 70vh;
    }

    .hero-overlay {
        width: 100%;
        min-height: 70vh;
        background: linear-gradient(to right, #00104686, transparent);
        position: absolute;
        z-index: 40;
    }

    #hero-text-container {
        max-width: 80rem;
        margin-left: auto;
        margin-right: auto;
        padding-top: 50px;
        display: flex;
        align-items: center;
        z-index: 50;
    }

    #hero-text{
        width: 40%;
        z-index: 50;
    }

    #hero-text > h2 {
        font-size: 44px;
        color: white;
        margin-bottom: 10px;
    }

    #hero-text > p {
        font-size: 18px;
        color: white;
    }

    nav {
        background-color: #ECFFFB;

    }

    #header-container {
        max-width: 80rem;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #logo {
        max-width: 20%;
    }

    .menu-container {
        width: 35%;
        display: flex;
        align-items: center;
    }

    #menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1;
 
    }

    .button {
        margin-left: 25px;
        background-color: #1F4FEC;
        color: white;
        padding: 15px 20px 15px 20px;
        border-radius: 5px;
        border: none;
    }

    .menu-item>a {
        color: black;
    }

    .active {
        background-color: #fff;
    }



    a:hover {
        background-color: #b63131;
    }



    span {
        border: 1px solid green;
    }

    a {
        text-decoration: none;
    }



